<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Main</title>
    <link rel="stylesheet" href="/views/main.css">
    <script src="/js/darkMode.js"></script>
</head>
<body>
    <h1 class="titleText">MAIN</h1><br>

    <div class="margin">
        <img src="/img/DeadWhiteRat.png">
    </div>

    <div>
        <button class="fancyBtn" id="toggleButton">Dark</button>
    </div><br>

    <div class="navigation">
        <button class="fancyBtnHead" onclick="location.href='/second'">Go to Second Page</button>
        <button class="fancyBtnHead" onclick="location.href='/third'">Go to Third Page</button>
        <button class="fancyBtnHead" onclick="location.href='/questions'">Go to Question Page</button>
        <button class="fancyBtnHead" onclick="location.href='/gallery'">Go to Gallery Page</button>
    </div>
</body>
</html>