<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Second</title>
    <link rel="stylesheet" href="main.css">
    <script src="darkMode.js"></script>
</head>
<body>
    <h1 class="titleText">SECOND</h1>
    <h2 class="margin">What a Direct upgrade to Fandom</h2>


    <label class="margin" for="item">Hahi?:</label><br>
    <input class="fancyInpt" type="text" id="item" name="item"><br><br>
    <button class="fancyBtn" onclick="addItem()">Submit</button><br>

    <ul id="itemList"></ul><br>
    <!-- Script for adding items to list -->
    <script src="itemList.js"></script>

    <div class="navigation">
        <button class="fancyBtnHead" onclick="location.href='/'">Back to Main Page</button>
    </div>

</body>
</html>